body {
	margin: 0;
	font-family: "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #171717;
}

.tooltip-wrapper {
	background-color: #000;
	visibility: hidden;
	position: absolute;
	padding: 0.8rem;
	max-width: 28em;
	color: white;
}

.tooltip-title,
.tooltip-label,
.tooltip-cta,
.tooltip-type {
	margin: 0;
	color: #fff;
}

.tooltip-title {
	font-weight: 600;
	font-size: 1.5rem;
	color: #ff8500;
	margin: 0;
	margin-bottom: 0.875rem;
}

.tooltip-cta {
	padding-top: 1rem;
}

.checkbox {
	margin-right: 1rem;
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid white;
	padding: 6px;
	display: inline-block;
	position: relative;
}

.checkbox:checked {
	background-color: white;
}

.selected {
	font-weight: bold;
}
