body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #171717;
}

.tooltip {
	background-color: #000;
	display: block;
	position: absolute;
	text-overflow: ellipsis;
	white-space: pre;
	visibility: hidden;
	padding: 0.8rem;
}

.tooltip-title,
.tooltip-label {
	margin: 0;
	color: #fff;
}

.tooltip-label {
	font-weight: 600;
	font-size: 2rem;
}

.checkbox {
	margin-right: 1rem;
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid white;
	padding: 6px;
	display: inline-block;
	position: relative;
}

.checkbox:checked {
	background-color: white;
}

.selected {
	font-weight: bold;
}
