.wrapper {
	border: 1px solid white;
}

.wrapper svg g:hover {
	cursor: grab;
}

.wrapper svg g:active {
	cursor: grabbing;
}

.group {
	border: 1px solid red;
}

.circle {
}

/* .label {
	color: red;
} */
